{% extends 'base.html'%}

{%block title%}

{%endblock%}

{%block content%}

  <div class="container">
    <section id="contacts" class="mt-5 animate__animated animate__fadeIn">
      <h2>Contact</h2>
      <div class="row">
        <div class="col-md-6">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Contact Information</h5>
              <p class="card-text">Email: xazratqulovdiyorbek2004@gmail.com</p>
              <p class="card-text">Phone: +998 33 636 36 66</p>
              <p class="card-text"><a href="https://Github.com/Diyorbektuit">Github</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{%endblock%}
