{% extends 'base.html'%}

{% block title %}
{{ project.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <img src="{{ project.img.url }}" class="img-fluid rounded" alt="{{ project.name }}">
            <h1 class="mt-4">{{ project.name }}</h1>
            <p class="lead text-white">{{ project.description }}</p>
            <a href="https://github.com/Diyorbektuit" class="btn btn-primary">Github</a>
        </div>
    </div>
</div>
{% endblock %}
